{% load static %}
{% comment %} <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div class="text-center col-lg-5 col-12 mx-auto">
    <p class="copyright-text">
              Copyright © 2048 ebook company <br /><br /><a
                rel="nofollow"
                href="#"
                target="_blank"
                >designed by Shyamu</a
              >
            </p>
</div> {% endcomment %}

<!-- JAVASCRIPT FILES -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/click-scroll.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
