{% load static %} {% include "adminheader.html" %}
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/user/">
      <i class="navbar-brand-icon bi-book me-2"></i>
      <span>ebook</span>
    </a>

    <div class="d-lg-none ms-auto me-3">
      <a
        href="#"
        class="btn custom-btn custom-border-btn btn-naira btn-inverted"
      >
        <i class="btn-icon bi-cloud-download"></i>
        <span>Download</span
        ><!-- duplicated another one below for mobile -->
      </a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-lg-auto me-lg-4">
        <li class="nav-item">
          <a class="nav-link click-scroll" href="/user/"></a>
        </li>

        <li class="nav-item">
          <a class="nav-link click-scroll" href="/user/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link click-scroll" href="/mpusers/">My Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link click-scroll" href="/cpusers/">Change Password</a>
        </li>

        <li class="nav-item">
          <a class="nav-link click-scroll" href="/sharenotes/">Upload Notes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link click-scroll" href="/viewnotes/">View Notes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link click-scroll" href="/buynotes/">Buy Notes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link click-scroll" href="/login/">Logout</a>
        </li>
      </ul>

      {% comment %}
      <div class="d-none d-lg-block">
        <a
          href="#"
          class="btn custom-btn custom-border-btn btn-naira btn-inverted"
        >
          <i class="btn-icon bi-cloud-download"></i>
          <span>Download</span
          ><!-- duplicated above one for mobile -->
        </a>
      </div>
      {% endcomment %}
    </div>
  </div>
</nav>

{% include "footer.html" %}
