{% load static %} {% include "adminheader.html" %}
{% include "adminnav.html" %}

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous">

<section class="hero-section d-flex justify-content-center align-items-center"
      id="section_1">
      <div class="container">
    <div class="row">
      <div class="col-lg-200 col-200 mx-auto custom-form ebook-download-form bg-white shadow text-center mb-5">



<center><h2>View Enquiry</h2></br></center>
<table class="table table-striped table-hover">
<thead>
<tr>
<th scope="col">EnID</th>
<th scope="col">Name</th>
<th scope="col">Email</th>
<th scope="col">Info</th>    
</tr>
  </thead>
  <tbody>
    <tr>
{% for row in data %}
<tr>
<th scope="col">{{row.enid}}</th>
<td>{{row.name}}</td>
<td>{{row.email}}</td>
<td>{{row.info}}</td>    
</tr>
{% endfor %}
</tr>
</tbody>
</table>
      </div>
    </div>
  </div>    
</section>


{% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> {% endcomment %}



  {% include "footer.html" %}
